<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sid.mapper.lee.ExpenditureMapper">
  <resultMap id="BaseResultMap" type="com.sid.model.lee.Expenditure">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="REAL" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    id, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_expenditure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_expenditure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sid.model.lee.Expenditure">
    insert into t_expenditure (id, money)
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sid.model.lee.Expenditure">
    insert into t_expenditure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sid.model.lee.Expenditure">
    update t_expenditure
    <set>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sid.model.lee.Expenditure">
    update t_expenditure
    set money = #{money,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>